@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 2, 6, 23; /* slate-950 */
  --background-end-rgb: 15, 23, 42; /* slate-900 */
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      rgb(var(--background-start-rgb)),
      rgb(var(--background-end-rgb))
    )
    no-repeat fixed;
  min-height: 100vh;
}

/* Custom Scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #020617; 
}

::-webkit-scrollbar-thumb {
  background: #1e293b; 
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #334155; 
}

@layer utilities {
  .glass-card {
    @apply bg-slate-900/50 backdrop-blur-xl border border-white/10;
  }
}
